* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: pink;
}
p#excuse {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 100px;
  margin-top: 20px;
  color: palevioletred;
}
#container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  background-color: aqua;
}
img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}
h1,
h2,
h3 {
  color: palevioletred;
  margin-bottom: 20px;
}
